.App {
  position: relative;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  flex-direction: row;
  justify-content: space-between;
}

#root {
  height: 100vh;
  width: 100%;
}

.App {
  overflow-y: scroll;
}

.LeftBlock {
  contain: content;
  position: fixed;
  top: 0;
  overflow-y: scroll;
  height: 100%;
  background-color: antiquewhite;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 33.33333%;
  flex-grow: 0;
  -webkit-box-flex: 0;
  max-width: 33.33333%;
}

.MiddleBlock {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  flex-basis: 8.333333%;
  flex-grow: 0;
  -webkit-box-flex: 0;
  max-width: 8.33333%;
}

.RightBlock {
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  flex-basis: 58.333333%;
  flex-grow: 0;
  -webkit-box-flex: 0;
  max-width: 58.333333%;
}

.LeftBlock,
.MiddleBlock,
.RightBlock {
  padding: 10px;
}

.Buttons {
  position: sticky;
  bottom: 0;
  width: 80%;
  padding: 10px;
  background: lightgoldenrodyellow;
  border: solid 2px black;
  border-radius: 4px;
  display: flex;
  justify-content: right;
}

.Buttons button {
  margin-left: 10px;
  border: solid 2px black;
}

.spacer {
  height: 100vh;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(49% - 1rem);
  margin: 0.5rem;
  padding: 5rem 0;
  outline: 1px solid blue;
  opacity: 0;
  transition: opacity 500ms ease 250ms;
}

.Section {
  background-color: honeydew;
  padding: 10px;
  height: 100vh;
  border: solid 2px black;
  margin-bottom: 10px;
}
